form {
  margin: 10px;
  padding: 10px;
}

input {
  margin-bottom: 10px;
  margin-bottom: 15px;
}

#container-main {
  padding: 30px;
  border: 1px solid #f2f2f2;
  width: 100%;
  margin-bottom: 25px;
}

.class-detail {
  padding-bottom: 10px;
}
.material-icons {
  font-size: 14px;
}
button {
  margin: 1px;
}
