@import "framework.css";

:root {
  --blue: #3481bf;
  --white: #ffffff;
  --black: #000000;
  --black2: #222222;
}

/* Width var */
/* $container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
); */

/* Navbar */
.header > .navbar {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.header .navbar .container {
  margin: 0 120px;
}
.nav-item {
  margin-right: 30px;
}
a.nav-link {
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-toggler {
  color: rgb(52, 129, 191, 0.9);
  border: 1px solid var(--blue);
}
.navbar-toggler-icon {
  fill: var(--blue);
}
/* Overrides class BS */
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: center !important;
  }
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .header .navbar .container {
    margin: 0;
    width: 100%;
  }
  .navbar-expand-lg {
    justify-content: center !important;
  }
  .nav-link i.bi-person-fill {
    display: none;
  }
}
/* ------ End of Navbar ------ */

/* Index */
.midtext {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 3px 3px black;
}

.carousel-item .img-fluid {
  width: 100%;
  height: 100vh;
}

/* Products */
#products > h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black2);
}

/* a,
a:hover {
    text-decoration: none;
    color: inherit;
} */

.section-products {
  padding: 55px 0;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #444444;
  text-transform: uppercase;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("/img/products/i-1.jpeg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("/img/products/i-2.jpeg") no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("/img/products/i-1.jpeg") no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("/img/products/i-2.jpeg") no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}
.section-products .single-product .part-2 {
 padding: 10px;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

/* Breadcrumb */
.color-title1 {
  color: var(--blue);
}
.txt-o {
  opacity: 0.5;
}
.color-blue {
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* Footer */
footer {
  position: absolute;
  bottom: -10;
  width: 100%;
}
.container-footer {
  padding: 20px 0px;
  background-color: #222222;
}

.container-footer > img {
  margin-bottom: 10px;
}

.container-footer > p {
  color: #757575;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* ------ End of Footer ------ */
