/* Page About */
.contentAboutUs{
  background-color: lightcyan;
  /* width: 1440px; */
  border: 1px solid lightcyan;
  padding: 10;
  margin: 40px 30PX;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: crimson;
}

h2{
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  color:teal;
}

p{
  font-family: 'Source Serif Pro', serif;
  font-size: 30px;
}

ul.breadcrumb {
  text-align: center;
  padding: 10px 16px;
  list-style: none;
  background-color:#D0D0D0;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content:  "\FF1E";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.a {
  list-style:none;
  font-family: 'Source Serif Pro', serif;
  font-size: 17px;
}

ul.a li:before {
  content: "\2714\0020"; 
}

span{
    font-weight: bolder;
}

em{
    font-size: 120%;
    color: #ff0000;
}
/* ------ End of Page about ------ */
